.Home {
    min-height: calc(100vh - 200px);
}
.Home .carousel {
    height:500px;
    width:100%;
}
.Home .carousel-item {
    height:500px
}
.Home .banner-Img {
    height:100%;
    object-fit: cover;
    object-position: center;
}
/* !.prod-main {
    background-color: #e3e3e3;
} */
/* !to be deleted .col-6 {
    background-color: transparent;
} */
.Home .prod-container {
    background-color: transparent;
    overflow: hidden;
}
.Home .prod-container > img {
    height: 150px;
    width:100%;
}
.Home .prod-img {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /* fallback */
    -webkit-line-clamp: 9; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.Home a:link, a:visited, a:active
{
    color: #000;
    text-decoration: none;
}
.Home .articles {
    overflow: scroll;
    overflow-x: hidden;
    height: 600px;
    background-color: white;
    /* box-shadow: 2px 6px 5px 0px #a29999; */
}
@media (min-width: 768px) {
    .Home .prod-container > img {
        transition: transform .5s ease;
    }
    .Home .prod-container:hover img {
        transform: scale(1.1);
    }
    .Home .card {
        cursor: pointer;
    }
    .Home .innovator-container {
        transition: all 0.2s ease;
    }
    .Home .innovator-container:hover {
        transform: scale(1.1)
    }
}